<!DOCTYPE html>
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ĐƠN ĐĂNG KÝ VÒNG 1
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
  link(rel="stylesheet" href='./css/form.css' )
.d-flex.flex-column.flex-md-row.align-items-center.justify-content-center.m-4
  h3.text-center.me-md-4 ĐƠN ĐĂNG KÝ VÒNG 1
  form(action='/manager/export' method='post')
    button.btn.btn-outline-dark(type='submit') Tải về .xlsx
.ps-5.table-responsive
  table.table.table-bordered
   caption.text-secondary Danh sách ứng viên đăng ký vòng 1 G'Contest 2022
   thead
      tr
        th(scope="col") #
        each val in formList[0].field
          th(scope="col")= val
   tbody
      - var n = 1;
      each form in formList
        tr 
          td(scope="row")= n++ 
          each val, index in form.input
            if (index == 10 || index == 23 || index == 34)
              if (val == '-')
                td= val
              else
                td
                  a(href=`/manager/cv/${val}`) Xem CV
            else
              td!= val
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p' crossorigin='anonymous')
